* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(background.png);
    background-size: cover;
    filter: blur(125px);
    z-index: -1;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 72px;
    font-family: "font.otf", sans-serif;
    color: white;
    animation: fade-in 2s;
    z-index: 1;
}

button {
    border-radius: 12px;
    padding: 10px 40px;
    font-size:24px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

button:hover {
    background-color: #cccccc;
}

button:active {
    transform: scale(0.9);
}

.bottom-line {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    animation: glowing-line 2s infinite;
}

@keyframes glowing-line {
    0% {
        box-shadow: 0 0 5px #ffffff;
    }
    50% {
        box-shadow: 0 0 30px #ffffff;
    }
    100% {
        box-shadow: 0 0 5px #ffffff;
    }
}

.made-with-love {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "font.otf", sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    opacity: 0.5;
}
